.curso{
    width: 100%;
    border-collapse: collapse;
}

th, td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    padding: 10px 20px;
}

.fotoG{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
